@charset "UTF-8";
@font-face {
  font-family: CartoonCheck-Black;
  src: url(../fonts/CartoonCheck-Black.ttf);
}
@font-face {
  font-family: AlteHaasGroteskBold;
  src: url(../fonts/AlteHaasGroteskBold.ttf);
}
@font-face {
  font-family: AlteHaasGroteskRegular;
  src: url(../fonts/AlteHaasGroteskRegular.ttf);
}
@keyframes loader_5191 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.loader.active {
  display: flex;
}

@keyframes loader_5191 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.square {
  background: #ddd;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

#sq1 {
  margin-top: -25px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
  margin-top: -25px;
  animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
  margin-top: -25px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 150ms infinite;
}

#sq4 {
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 225ms infinite;
}

#sq5 {
  animation: loader_5191 675ms ease-in-out 300ms infinite;
}

#sq6 {
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 375ms infinite;
}

#sq7 {
  margin-top: 15px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 450ms infinite;
}

#sq8 {
  margin-top: 15px;
  animation: loader_;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezadoMOVIL {
  background-color: #253E6C;
  margin: 0;
  margin-bottom: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 160px;
  position: fixed;
  width: 100%;
  z-index: 11;
}
.encabezadoMOVIL .logotipo {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 0;
}
.encabezadoMOVIL .logotipo h1 {
  color: aliceblue;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 2%;
  font-family: CartoonCheck-Black;
}
.encabezadoMOVIL .logotipo img {
  height: auto;
  width: 10%;
  margin-top: 1%;
  vertical-align: middle;
}
.encabezadoMOVIL .menu-hamburguesa {
  position: fixed;
  top: 105px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.encabezadoMOVIL .menu-hamburguesa input {
  display: none;
}
.encabezadoMOVIL .menu-hamburguesa .boton {
  display: inline-block;
  padding: 12px 25px;
  background-color: rgba(89, 107, 139, 0.1019607843);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.encabezadoMOVIL .menu-hamburguesa .boton :hover {
  background-color: #1f3458;
}
.encabezadoMOVIL .menu-hamburguesa .elementos-menu {
  display: none;
  background-color: rgba(46, 74, 126, 0.9607843137);
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px 0;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.encabezadoMOVIL .menu-hamburguesa .elementos-menu .lista {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.encabezadoMOVIL .menu-hamburguesa .elementos-menu .lista li {
  padding: 10px 15px;
  font-size: 18px;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
  text-align: center;
  font-family: AlteHaasGroteskRegular;
}
.encabezadoMOVIL .menu-hamburguesa .elementos-menu .lista li a {
  text-decoration: none;
  color: white;
}
.encabezadoMOVIL .menu-hamburguesa .elementos-menu .lista li:hover {
  background-color: #1f3458;
  padding-left: 30px;
}
.encabezadoMOVIL .menu-hamburguesa #toggleLista:checked ~ .elementos-menu {
  display: block;
  position: absolute;
  top: 50px;
  width: 200px;
}

.piePagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #253E6C;
  padding: 20px;
  height: 50%;
}
.piePagina .suscribete {
  text-align: center;
  width: 100%;
  color: aliceblue;
  background-color: rgba(180, 201, 241, 0.2823529412);
  padding: 4% 1%;
  border-radius: 5px;
  font-family: AlteHaasGroteskRegular;
}
.piePagina .suscribete input {
  padding: 5px;
  margin-left: 1px;
  margin-right: 1px;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: AlteHaasGroteskRegular;
}
.piePagina .suscribete button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: AlteHaasGroteskRegular;
}
.piePagina .suscribete button:hover {
  background-color: #0056b3;
}
.piePagina .redesSociales {
  display: flex;
  justify-content: center;
  padding: 1% 4%;
  gap: 15%;
  margin-top: 10px;
  border-radius: 5px;
}
.piePagina .redesSociales img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.815);
}
.piePagina .derechos {
  text-align: center;
  margin-top: 20px;
  width: 90%;
}
.piePagina .derechos img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.piePagina .derechos p,
.piePagina .derechos a {
  color: aliceblue;
  font-family: AlteHaasGroteskRegular;
}
.piePagina .contacto {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
  color: aliceblue;
}
.piePagina .contacto a {
  all: unset;
  font-family: AlteHaasGroteskRegular;
}

.cuerpo {
  background: linear-gradient(to right, #5475b3, #87a5dd, #5475b3, #4868a5, #87a5dd);
}
.cuerpo .contenido {
  padding-top: 40%;
  padding-bottom: 5%;
}
.cuerpo .contenido .fondo {
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(34, 33, 148, 0.7529411765);
  margin-bottom: 5%;
}
.cuerpo .contenido .fondo .margenes {
  padding: 5%;
  color: aliceblue;
  /* Estilo de párrafos */
  /* Enfatizado y listas */
  /* Estilo de bloques de consejos */
}
.cuerpo .contenido .fondo .margenes h1 {
  font-size: 2em;
  color: #acc2ee;
  text-shadow: 2px 2px 6px rgba(4, 243, 163, 0.959);
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(4, 243, 163, 0.959);
  padding-bottom: 10px;
  font-family: AlteHaasGroteskBold;
}
.cuerpo .contenido .fondo .margenes h2 {
  font-size: 1.8em;
  color: rgba(143, 211, 188, 0.959);
  margin-top: 30px;
  margin-bottom: 10px;
  border-left: 5px solid rgba(143, 211, 188, 0.959);
  padding-left: 10px;
  font-family: AlteHaasGroteskBold;
}
.cuerpo .contenido .fondo .margenes p {
  font-size: 1.1em;
  margin-bottom: 15px;
  line-height: 1.6;
  color: white;
  font-family: AlteHaasGroteskRegular;
}
.cuerpo .contenido .fondo .margenes strong {
  color: #121085;
  background-color: rgba(143, 211, 188, 0.822);
  margin-right: 1%;
  padding: 0 1%;
  font-family: AlteHaasGroteskBold;
}
.cuerpo .contenido .fondo .margenes ul {
  list-style-type: disc;
  margin-left: 40px;
  margin-bottom: 20px;
}
.cuerpo .contenido .fondo .margenes ol {
  margin-left: 10px;
  margin-bottom: 20px;
}
.cuerpo .contenido .fondo .margenes ul li {
  margin-bottom: 8px;
  font-family: AlteHaasGroteskRegular;
}
.cuerpo .contenido .fondo .margenes h2 + p strong {
  display: inline-block;
  background-color: #f0f8ff;
  color: #0044cc;
  padding: 2px 5px;
  border-radius: 4px;
}
.cuerpo .contenido .fondo .margenes code {
  border-bottom: 1px solid rgba(255, 255, 255, 0.959);
  font-family: AlteHaasGroteskRegular;
}

@media (min-width: 768px) and (max-width: 1200px) {
  #encabezado {
    background-color: #253E6C;
    margin: 0;
    margin-bottom: 10%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 10%;
    position: fixed;
    width: 100%;
    padding-top: 1%;
  }
  #encabezado #logotipo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
  }
  #encabezado #logotipo h1 {
    color: aliceblue;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5%;
    margin-top: 3%;
    font-family: CartoonCheck-Black;
  }
  #encabezado #logotipo img {
    height: auto;
    width: 10%;
    margin-top: 2%;
    vertical-align: middle;
    padding-right: 2%;
    margin-bottom: 5%;
  }
  #piePagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #253E6C;
    padding: 20px;
    height: 60%;
  }
  #piePagina #suscribete {
    text-align: center;
    width: 55%;
    color: aliceblue;
    background-color: rgba(180, 201, 241, 0.2823529412);
    padding: 1%;
    border-radius: 5px;
    font-family: AlteHaasGroteskBold;
  }
  #piePagina #suscribete input {
    padding: 5px;
    margin-left: 4px;
    margin-right: 2px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: AlteHaasGroteskRegular;
  }
  #piePagina #suscribete button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-family: AlteHaasGroteskRegular;
  }
  #piePagina #suscribete button:hover {
    background-color: #0056b3;
  }
  #piePagina #redesSociales {
    display: flex;
    justify-content: center;
    background-color: rgba(180, 201, 241, 0.2117647059);
    padding: 1%;
    width: 25%;
    gap: 7%;
    margin-top: 10px;
    border-radius: 5px;
  }
  #piePagina #redesSociales img {
    width: 30px;
    height: 30px;
  }
  #piePagina #derechos {
    text-align: center;
    margin-top: 20px;
  }
  #piePagina #derechos img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  #piePagina #derechos p,
  #piePagina #derechos a {
    color: aliceblue;
    font-family: AlteHaasGroteskRegular;
  }
  .cuerpo {
    background: linear-gradient(to right, #5475b3, #87a5dd, #5475b3, #4868a5, #87a5dd);
  }
  .cuerpo #contenido {
    padding-top: 20%;
    padding-bottom: 5%;
  }
  .cuerpo #contenido #fondo {
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .cuerpo #contenido #fondo .margenes {
    padding: 5%;
    color: aliceblue;
    /* Estilo de párrafos */
    /* Enfatizado y listas */
    /* Estilo de bloques de consejos */
  }
  .cuerpo #contenido #fondo .margenes h1 {
    font-size: 2.5em;
    color: #acc2ee;
    text-shadow: 2px 2px 6px rgba(4, 243, 163, 0.959);
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(4, 243, 163, 0.959);
    padding-bottom: 10px;
    font-family: AlteHaasGroteskBold;
  }
  .cuerpo #contenido #fondo .margenes h2 {
    font-size: 1.8em;
    color: rgba(143, 211, 188, 0.959);
    margin-top: 30px;
    margin-bottom: 10px;
    border-left: 5px solid rgba(143, 211, 188, 0.959);
    padding-left: 10px;
    font-family: AlteHaasGroteskBold;
  }
  .cuerpo #contenido #fondo .margenes p {
    font-size: 1.1em;
    margin-bottom: 15px;
    line-height: 1.6;
    color: white;
    font-family: AlteHaasGroteskRegular;
  }
  .cuerpo #contenido #fondo .margenes strong {
    color: #121085;
    background-color: rgba(143, 211, 188, 0.822);
    margin-right: 1%;
    padding: 0 1%;
    font-family: AlteHaasGroteskBold;
  }
  .cuerpo #contenido #fondo .margenes ul {
    list-style-type: disc;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .cuerpo #contenido #fondo .margenes ul li {
    margin-bottom: 8px;
    font-family: AlteHaasGroteskRegular;
  }
  .cuerpo #contenido #fondo .margenes h2 + p strong {
    display: inline-block;
    background-color: #f0f8ff;
    color: #0044cc;
    padding: 2px 5px;
    border-radius: 4px;
  }
  .cuerpo #contenido #fondo .margenes code {
    border-bottom: 1px solid rgba(255, 255, 255, 0.959);
    font-family: AlteHaasGroteskRegular;
  }
}
@media (min-width: 1200px) {
  #encabezado {
    background-color: #253E6C;
    margin: 0;
    margin-bottom: 10%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 160px;
    position: fixed;
    width: 100%;
    padding-top: 1%;
  }
  #encabezado #logotipo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
  }
  #encabezado #logotipo h1 {
    color: aliceblue;
    display: inline-block;
    vertical-align: middle;
    margin-top: 2%;
    margin-left: 10px;
    font-family: CartoonCheck-Black;
  }
  #encabezado #logotipo img {
    height: auto;
    width: 10%;
    margin-top: 1%;
    vertical-align: middle;
  }
  #encabezado #menu-hamburguesa {
    position: relative;
    top: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #encabezado #menu-hamburguesa input {
    display: none;
  }
  #encabezado #menu-hamburguesa #boton {
    display: none;
  }
  #encabezado #menu-hamburguesa #elementos-menu {
    display: flex;
    gap: 20px;
    background: none;
    box-shadow: none;
  }
  #encabezado #menu-hamburguesa #elementos-menu #lista {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 0;
  }
  #encabezado #menu-hamburguesa #elementos-menu #lista li {
    padding: 10px 15px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  #encabezado #menu-hamburguesa #elementos-menu #lista li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
  }
  #encabezado #menu-hamburguesa #elementos-menu #lista li a:hover {
    color: #1f3458;
    font-weight: bolder;
  }
  #encabezado #menu-hamburguesa #elementos-menu #lista li:hover {
    background-color: rgba(240, 248, 255, 0.527);
  }
  #piePagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #253E6C;
    padding: 20px;
    height: 60%;
  }
  #piePagina #suscribete {
    text-align: center;
    width: 35%;
    color: aliceblue;
    background-color: rgba(180, 201, 241, 0.2823529412);
    padding: 1%;
    border-radius: 5px;
    font-family: AlteHaasGroteskBold;
  }
  #piePagina #suscribete input {
    padding: 5px;
    margin-left: 4px;
    margin-right: 2px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: AlteHaasGroteskRegular;
  }
  #piePagina #suscribete button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-family: AlteHaasGroteskRegular;
  }
  #piePagina #suscribete button:hover {
    background-color: #0056b3;
  }
  #piePagina #redesSociales {
    display: flex;
    justify-content: center;
    width: 15%;
    gap: 7%;
    border-radius: 5px;
  }
  #piePagina #redesSociales img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.568);
  }
  #piePagina #derechos {
    text-align: center;
    margin-top: 1%;
  }
  #piePagina #derechos img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  #piePagina #derechos p,
  #piePagina #derechos a {
    color: aliceblue;
    font-family: AlteHaasGroteskRegular;
  }
  #piePagina #contacto {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0;
    color: aliceblue;
  }
  #piePagina #contacto a {
    all: unset;
    font-family: AlteHaasGroteskRegular;
  }
  .cuerpo {
    background: linear-gradient(to right, #5475b3, #87a5dd, #5475b3, #4868a5, #87a5dd);
  }
  .cuerpo #contenido {
    padding-top: 15%;
    padding-bottom: 5%;
  }
  .cuerpo #contenido #fondo {
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .cuerpo #contenido #fondo .margenes {
    padding: 5%;
    color: aliceblue;
    /* Estilo de párrafos */
    /* Enfatizado y listas */
    /* Estilo de bloques de consejos */
  }
  .cuerpo #contenido #fondo .margenes h1 {
    font-size: 2.5em;
    color: #acc2ee;
    text-shadow: 2px 2px 6px rgba(4, 243, 163, 0.959);
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(4, 243, 163, 0.959);
    padding-bottom: 10px;
    font-family: AlteHaasGroteskBold;
  }
  .cuerpo #contenido #fondo .margenes h2 {
    font-size: 1.8em;
    color: rgba(143, 211, 188, 0.959);
    margin-top: 30px;
    margin-bottom: 10px;
    border-left: 5px solid rgba(143, 211, 188, 0.959);
    padding-left: 10px;
    font-family: AlteHaasGroteskBold;
  }
  .cuerpo #contenido #fondo .margenes p {
    font-size: 1.1em;
    margin-bottom: 15px;
    line-height: 1.6;
    color: white;
    font-family: AlteHaasGroteskRegular;
  }
  .cuerpo #contenido #fondo .margenes strong {
    color: #121085;
    background-color: rgba(143, 211, 188, 0.822);
    margin-right: 1%;
    padding: 0 1%;
  }
  .cuerpo #contenido #fondo .margenes ul {
    list-style-type: disc;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .cuerpo #contenido #fondo .margenes ul li {
    margin-bottom: 8px;
    font-family: AlteHaasGroteskRegular;
  }
  .cuerpo #contenido #fondo .margenes h2 + p strong {
    display: inline-block;
    background-color: #f0f8ff;
    color: #0044cc;
    padding: 2px 5px;
    border-radius: 4px;
  }
  .cuerpo #contenido #fondo .margenes code {
    border-bottom: 1px solid rgba(255, 255, 255, 0.959);
    font-family: AlteHaasGroteskRegular;
  }
}/*# sourceMappingURL=contenidoArticulos.css.map */